body {
  /*background-color: #60d9f1;*/
  font-family: sans-serif;
  align-content: center;
  background-image: url('/Users/jerusmacbook/Documents/Projects/itunes_music_search/images/thumb-crowd.jpg');
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  text-align: center;
  font-style: italic;
  font-size: 50px;

}






#music-player {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
}




.search-results {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-button {
  background-color: lightgrey;
}




.box {
  height: 240px;
  width: 240px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  background: transparent;
  overflow: auto;
}


.box img {
  border-radius: 10%;
  height: 150px;
  width: 150px;
}


.artistTrack {
  font-weight: bold;
}
